@{
    ViewData["Title"] = "Error";
    Layout = "_Layout"; 
}

<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
</head>
<body>
<div>
    <h1>Error</h1>
    <p>Lijep pozdrav</p>
    <p>Ne radi</p>
</div>
</body>
</html>